.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* gap: 30px; */
}

.Title{
    width: 300px;
    height: 50px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Table{
    margin-top: 38px;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}