.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* gap: 30px; */
}

.Cabecalho{
    width: 600px;
    height: 50px;
    margin-top: 65px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.Cabecalho span{
    height: 5rem;
    font-weight: bold;
    font-size: 16px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
}

.Title1{
    display: flex;
}

.Title2{
    display: flex;
}

.Table{
    margin-top: 38px;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}